<header>
  <nav class="navbar navbar-expand-lg">
    <div class="footer-icons">
      <a href="https://www.instagram.com/sr.fumacacumuru"> <%= image_tag 'instagram.png', style: 'width: 38px; height: 35px;' %> </a>
    </div>
    
    <div class="container-fluid">
      <div class="logo d-flex justify-content-center align-items-center w-100">
        <div class="dfm">
        </div>
      </div>

        <button
        class="navbar-toggler"
        id="navbarToggler"
        type="button"
        data-turbo="false"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Sobre", "#home", data: { path: "#home" }, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Menu", "#menu", data: { path: "#menu" }, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Fotos", "#foto", data: { path: "#foto" }, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Contato", "#contato", data: { path: "#contato" }, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
